* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: aqua;
}

.navbar {
  height: 100%;
}

.navbar-list {
  list-style-type: none;
  display: flex;
}

.navbar-list a {
  height: 100%;
  padding: 10px;
}
